@{
    var url = DataReef.TM.Api.Controllers.Web.HomeController.GetCustomURL(Request.QueryString);
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/legioncss")
</head>
<body>
    <div id="wrapper">
        <div class="gray-bg">
            <div class="wrapper-content">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/legionjs")
    <script>
        var redirectUrl = '@(Html.Raw(url))';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
