@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout-Legion.cshtml";
    ViewBag.Title = "PasswordReset";
}

<div class="loginscreen-wrapper">
    <div class="loginscreen forgot-password">
        <div class="header-area xs-header-area">
            <p>Please choose a new Password using the form below <span class="is-idevice">or in the Ignite app.</span></p>
            @if (ViewData.ModelState.IsValid)
            {
                <div class="is-idevice">
                    <button class="open-on-idevice btn btn-default" onclick="openOniDevice()">Continue in the Ignite App</button>
                </div>
            }
        </div>
        <div class="loginscreen-inner">
            @if (!Model.ShowFormIfModelHasErrors && !ViewData.ModelState.IsValid)
            {
                var errors = ViewData.ModelState.Where(ms => ms.Value.Errors.Count > 0).SelectMany(ms => ms.Value.Errors.Select(e => e.ErrorMessage)).ToList();

                <div class="has-error">
                    @foreach (var err in errors)
                    {
                        <p>@err</p>
                    }
                </div>
            }
            else
            {
                if (Model.ShowFormIfModelHasErrors && !ViewData.ModelState.IsValid)
                {
                    var errors = ViewData.ModelState.Where(ms => ms.Value.Errors.Count > 0).SelectMany(ms => ms.Value.Errors.Select(e => e.ErrorMessage)).ToList();

                    <div class="validations">
                        @foreach (var err in errors)
                        {
                            <p>@err</p>
                        }
                    </div>
                }
                using (Html.BeginForm("PasswordReset", "Home", FormMethod.Post, new { @class = "m-t" }))
                {
                    @Html.HiddenFor(m => m.Guid)
                    <div class="row flex-row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>New Password</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password (min 6 characters)", required = "required" })
                            </div>
                            <div class="form-group">
                                <label>Password Confirmation</label>
                                @Html.PasswordFor(m => m.PasswordConfirmation, new { @class = "form-control", placeholder = "Password Confirmation", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-default" type="submit">FINISH</button>
                    </div>
                }
            }
        </div>
    </div>
</div>