@model DataReef.TM.Classes.AppointmentStatusChangedTemplate
@{
    Layout = null;
}

    
        <p>
            The appointment for the property @Model.PropertyName changed its status to <b>@Model.AppointmentStatus</b>. Address is: @Model.Address
        </p>

        <h4>Appointment details</h4>
        <p>
            <b>Start Date: </b> @Model.AppointmentStartDate.ToString()
        </p>
        @if (Model.AppointmentEndDate != null)
        {
            <p>
                <b>End Date: </b> @Model.AppointmentEndDate.ToString()
            </p>
        }

        <p>
            <b>Description: </b> @Model.AppointmentDetails
        </p>