@model DataReef.TM.Classes.PropertyAttachmentRejectedTemplate
@{
    Layout = null;
}


    <p>
        The following attachments for the property @Model.PropertyName were rejected. Address is: @Model.PropertyAddress
    </p>

    @foreach (var item in Model.RejectedItems)
    {
    <p>
        <b>Section: </b> @item.SectionName 
        <b>Task: </b> @item.ItemName 
        <b>Reason: </b> @item.RejectionMessage
  </p> 
        @if (!string.IsNullOrEmpty(item.ImageUrl))
        {
            <p>
                <b>Image </b>
                <img src="@item.ImageUrl" width="300" />
            </p>
        }
    }