@model DataReef.TM.Classes.SalesOrderConfirmationTemplate
@{
    Layout = null;
}


    <p>
        Thank you for your recent order with Direct TV. Please see the details of the order below:
    </p>

    <p>
        <p>
            First Name: @Model.FirstName
        </p>
        <p>
            Last Name: @Model.LastName
        </p>
        <p>
            Phone: @Model.Phone
        </p>
        <p>
            Phone 2: @Model.Phone2
        </p>
        <p>
            Street: @Model.Street
        </p>
        <p>
            City: @Model.City
        </p>
        <p>
            State: @Model.State
        </p>
        <p>
            Zip: @Model.Zip
        </p>

        @if (!string.IsNullOrWhiteSpace(Model.SSN))
		{
        <p>
            SSN: @Model.SSN
        </p>
		}
    </p>

    @if (Model.IsBillingAddressDifferentThanInstallAddress)
    {
        <p>
            <p>
                Billing Address is different than Install Address
            </p>

            @if (!string.IsNullOrWhiteSpace(Model.BillingAddress))
		{
        <p>
            Address: @Model.BillingAddress
        </p>
		}

            @if (!string.IsNullOrWhiteSpace(Model.BillingAddress2))
		{
        <p>
            Address 2: @Model.BillingAddress2
        </p>
		}

            @if (!string.IsNullOrWhiteSpace(Model.BillingCity))
		{
        <p>
            City: @Model.BillingCity
        </p>
		}

            @if (!string.IsNullOrWhiteSpace(Model.BillingState))
		{
        <p>
            State: @Model.BillingState
        </p>
		}

            @if (!string.IsNullOrWhiteSpace(Model.BillingZip))
		{
        <p>
            Zip: @Model.BillingZip
        </p>
		}
        </p>
    }

    <p>
        @if (!string.IsNullOrWhiteSpace(Model.SalesPerson))
		{
        <p>
            Sales Person: @Model.SalesPerson
        </p>
		}

        <p>
            Office: @Model.Office
        </p>

        <p>
            Language: @Model.Language
        </p>

        <p>
            Base Package: @Model.BasePackage
        </p>

        <p>
            TV Count: @Model.TVCount
        </p>

        @if (Model.MiniReceiverCount > 0)
		{
        <p>
            Mini Receiver Count: @Model.MiniReceiverCount
        </p>
		}

        @if (Model.WirelessMiniReceiverCount > 0)
		{
        <p>
            Wireless Mini Receiver Count: @Model.WirelessMiniReceiverCount
        </p>
		}

        @if (Model.GenieReceiverCount > 0)
		{
        <p>
            Genie Receivers: @Model.GenieReceiverCount
        </p>
		}

        @if (Model.DVRReceiverCount > 0)
		{
        <p>
            DVR Receivers: @Model.DVRReceiverCount
        </p>
		}

        @if (Model.HDDVRReceiverCount > 0)
		{
        <p>
            HD DVR Receivers: @Model.HDDVRReceiverCount
        </p>
		}

        @if (Model.HDReceiverCount > 0)
		{
        <p>
            HD Receivers: @Model.HDReceiverCount
        </p>
		}

        @if (Model.StandardReceiverCount > 0)
		{
        <p>
            Standard Receivers: @Model.StandardReceiverCount
        </p>
		}
    </p>

    @if (
        ((Model.DTVAddons != null) && (Model.DTVAddons.Length > 0)) ||
        ((Model.PremiumAddOns != null) && (Model.PremiumAddOns.Length > 0)) ||
        ((Model.InternationalPrograms != null) && (Model.InternationalPrograms.Length > 0)) ||
        ((Model.SportsPackages != null) && (Model.SportsPackages.Length > 0)) ||
        ((Model.SpanishAddOns != null) && (Model.SpanishAddOns.Length > 0)) ||
        ((Model.OtherEquipments != null) && (Model.OtherEquipments.Length > 0))
        )
    {
        <p>
            @if ((Model.DTVAddons != null) && (Model.DTVAddons.Length > 0))
			{
            <p>
                DirecTV Add-ons:
            </p>
				foreach (string item in Model.DTVAddons)
				{
            <p>
                @item
            </p>
				}
			}

            @if ((Model.PremiumAddOns != null) && (Model.PremiumAddOns.Length > 0))
			{
            <p>
                Premium Add-ons:
            </p>
				foreach (string item in Model.PremiumAddOns)
				{
            <p>
                @item
            </p>
				}
			}

            @if ((Model.InternationalPrograms != null) && (Model.InternationalPrograms.Length > 0))
			{
            <p>
                International Programs:
            </p>
				foreach (string item in Model.InternationalPrograms)
				{
            <p>
                @item
            </p>
				}
			}

            @if ((Model.SportsPackages != null) && (Model.SportsPackages.Length > 0))
			{
            <p>
                Sports Packages:
            </p>
				foreach (string item in Model.SportsPackages)
				{
            <p>
                @item
            </p>
				}
			}

            @if ((Model.SpanishAddOns != null) && (Model.SpanishAddOns.Length > 0))
			{
            <p>
                Spanish Addons:
            </p>
				foreach (string item in Model.SpanishAddOns)
				{
            <p>
                @item
            </p>
				}
			}

            @if ((Model.OtherEquipments != null) && (Model.OtherEquipments.Length > 0))
			{
            <p>
                Other Equipment:
            </p>
				foreach (string item in Model.OtherEquipments)
				{
            <p>
                @item
            </p>
				}
			}
        </p>
    }

    <p>
        <p>
            Payment Info:
        </p>

        <p>
            Name: @Model.PaymentName
        </p>

        <p>
            Address: @Model.PaymentAddress
        </p>

        <p>
            City: @Model.PaymentCity
        </p>

        <p>
            State: @Model.PaymentState
        </p>

        <p>
            Zip: @Model.PaymentZip
        </p>

        <p>
            AutoPay: @Model.AcceptsAutoPay
        </p>

        @if (!string.IsNullOrWhiteSpace(Model.PaymentEmailAddress))
		{
        <p>
            Email: @Model.PaymentEmailAddress
        </p>
		}

        @if (!string.IsNullOrWhiteSpace(Model.SSN))
		{
        <p>
            SSN: @Model.SSN
        </p>
		}

        @if (!string.IsNullOrWhiteSpace(Model.ProtectionPlan))
		{
        <p>
            Protection Plan: @Model.ProtectionPlan
        </p>
		}

        <p>&nbsp;</p>

        <p>
            Amount Due at Install: @Model.EquipmentAndProcessingFee
        </p>

        <p>
            Monthly Fee: @Model.MonthlyFeeTotal
        </p>
    </p>

    <p>
        <table cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td>
                        <p>
                            <center><b>BUYER'S RIGHT TO CANCEL</b></center>
                        </p>

                        <p>You, the buyer, may cancel this transaction at any time prior to midnight of the third business day after the date of this transaction. See the attached notice of cancellation form for an explanation of this right.</p>

                        <p>NOTICE OF CANCELLATION</p>

                        <p>You may CANCEL this transaction, without any Penalty or Obligation, within THREE BUSINESS DAYS from the above date.</p>

                        <p>If you cancel, any property traded in, any payments made by you under the contract or sale, and any negotiable instrument executed by you will be returned within TEN BUSINESS DAYS following receipt by the seller of your cancellation notice, and any security interest arising out of the transaction will be cancelled.</p>

                        <p>If you cancel, you must make available to the seller at your residence, in substantially as good condition as when received, any goods delivered to you under this contract or sale, or you may, if you wish, comply with the instructions of the seller regarding the return shipment of the goods at the seller’s expense and risk.</p>

                        <p>If you do make the goods available to the seller and the seller does not pick them up within 20 days of the date of your Notice of Cancellation, you may retain or dispose of the goods without any further obligation. If you fail to make the goods available to the seller, or if you agree to return the goods to the seller and fail to do so, then you remain liable for performance of all obligations under the contract.</p>

                        <p>To cancel this transaction, mail or deliver a signed and dated copy of this Cancellation Notice or any other written notice, or send a telegram, to Clear Satellite, 135 Mountain Way Dr. Orem, UT 84058, NOT LATER THAN MIDNIGHT OF Date on reverse side. </p>

                        <p>I HEREBY CANCEL THIS TRANSACTION. (Date) ___________ </p>

                        <p>Buyer's Signature___________________________________________</p>

                    </td>
                </tr>

            </tbody>
        </table>

    </p>
</p>
